@use "sass:color";

// slightly lighten a colour
@function tint($color, $percentage) {
    @return color.mix(white, $color, $percentage);
}

// slightly darken a colour
@function shade($color, $percentage) {
    @return color.mix(black, $color, $percentage);
}

// interaction colours

$color-link:                          #996633 !default;
$color-link-hover:                    #b16f2e !default;
$color-link-focus:                    #5b9dd9 !default;
$color-link-visited:                  shade($color-link, 33%) !default;
$color-selecting:                     #c7dbfa !default;
$color-selected:                      #e3edfc !default;

// borders

$color-border:                        #cccccc !default;
$color-border-light:                  #d4d4d4 !default;

// neutral colours

$color-background:                    #ffffff !default;
$color-background-box:                #f7f7f7 !default;
$color-background-form:               #f7f7f7 !default;
$color-background-form-disabled:      #eeeeee !default;

// accent colours

$color-accent:                        #ffda44 !default;
$color-highlight-box:                 #fff8dd !default;
$color-strong-highlight-box:          #ffefaf !default;

// button colours

$color-button-border:                 #dddddd #c7c7c7 #c7c7c7 #dddddd !default;
$color-button-border-hover:           #cccccc #b7b7b7 #b7b7b7 #cccccc !default;
