// font families

$font-heading:               Cambria, Georgia, serif;
$font-body:                  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$font-form:                  Helvetica, Arial, sans-serif !default;
$font-code:                  Monaco, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;

// typography grid

$base-font-size:             12px !default;
$base-line-height:           18px !default;
$small-font-size:            10px !default;
$small-line-height:          15px !default;

// layout grid (not responsive)

$container-max-width:        124em !default; // 1488px / 12px
$standard-column:            44em !default; // 528px / 12px
$text-column:                62em !default; // 744px / 12px

// borders

$border-radius:              0.5em !default;

// shadows

$default-box-shadow-color:    rgba(#000000, 0.2);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur:     0.5em;
$inset-highlighting:          inset 0 1px 0 rgba(#ffffff, 0.25);
$text-shadow-light:           1px 1px 0 rgba(#ffffff, 0.5);
$text-shadow-dark:            -1px -1px 0 rgba(#000000, 0.1);
