// typography grid

$base-font-size:      12px !default;
$base-line-height:    1.5 !default; // 18px / 12px
$small-font-size:     0.833333333333333rem !default; // 10px / 12px
$small-line-height:   1.5 !default; // 15px / 10px

// layout grid (not responsive)

$container-min-width: 64em !default; // 768px / 12px
$container-max-width: 114em !default; // 1368px / 12px
$setup-column:        44em !default; // 528px / 12px
$text-column:         62em !default; // 744px / 12px

// borders

$border-radius:       0.5em !default;
