/* Messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success {
    color: $color-success-text;
}

.warning {
    color: $color-warning-text;
}

.error {
    color: $color-error-text;
}

.information {
    color: $color-info-text;
}

/**
 * Highlight background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr>
 *         <td class="highlight></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlight {
    background: $color-highlight-box;
}

/**
 * Alert boxes.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    padding: 0.5em 1em; // 6px / 12px
    clear: both;
    border: 1px solid;

    &.success {
        border-color: $color-success-border;
        background: $color-success-background;
    }

    &.warning {
        border-color: $color-warning-border;
        background: $color-warning-background;
    }

    &.error {
        border-color: $color-error-border;
        background: $color-error-background;
    }

    &.information {
        border-color: $color-info-border;
        background: $color-info-background;
    }
}

/**
 * System messages.
 *
 * Example HTML:
 *
 * <div id="messagepane">
 *     <span role="alert" class="error">
 *         Content
 *     </span>
 * </div>
 */

#messagepane {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    span {
        &.success,
        &.warning,
        &.error {
            display: block;
            position: relative;
            margin: 0 auto;
            padding: 0.5em 2em;
            color: #ffffff;
            text-align: center;
            box-shadow: 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
        }

        &.success {
            background: $color-success-text;
        }

        &.warning {
            background: $color-warning-text;
        }

        &.error {
            background: $color-error-text;
        }
    }
}

/*
 * Message close icon.
 *
 * Example HTML:
 *
 * <a role="button" class="close" aria-label="Close">&times;</a>
 */

.close {
    position: absolute;
    top: 0.26666666666667em; // 4px / 15px
    right: 1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
}

/*
 * Flash the alert message using CSS animation.
 */

@keyframes messageflash {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    50%,
    100% {
        opacity: 1;
    }
}

.messageflash {
    animation: messageflash 1s;
}
