/* Buttons
   ========================================================================== */

/**
 * 1. Correct `button` style inheritance in Firefox, IE 11, and Opera.
 * 2. Address `overflow` set to `hidden` in IE 11.
 */

button {
    /* 1 */
    text-transform: none;
    /* 2 */
    overflow: visible;
}

/**
 * 1. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 2. Remove iOS Safari default styling.
 */

button,
[type="reset"],
[type="submit"],
input[type="button"],
.txp-button,
.txp-logout a,
.navlink,
.navlink-active {
    display: inline-block;
    width: auto;
    height: 2.333333333333333em; // 28px / 12px
    padding: 0.25em 0.75em; // 3px/ 12px + 9px / 12px
    border: 1px solid;
    border-color: $color-button-border;
    background-clip: padding-box;
    background-color: #e2e2e2;
    color: $color-text-button;
    font-weight: normal;
    text-align: center;
    /* 1 */
    cursor: pointer;
    /* 2 */
    appearance: none;
    user-select: none;

    &:hover {
        border-color: $color-button-border-hover;
        background-color: #eeeeee;
        color: $color-text-button-hover;
        text-decoration: none;
    }

    &:active {
        border-color: $color-button-border-hover;
        background-color: #dddddd;
        color: $color-text-button-active;
        text-decoration: none;
    }

    &:focus {
        border-color: $color-link-focus;
        outline: 2px solid transparent;
    }
}

/**
 * Additional styling for primary buttons.
 *
 * Example HTML:
 *
 * <input type="submit" class="publish">
 */

[type="submit"].publish,
button.publish,
a.publish {
    height: 2.6666667em; // 32px/ 12px
    padding: 0.5em 0.75em; // 6px/ 12px + 9px / 12px
    border-color: #bb0000 #660000 #660000 #bb0000;
    background-color: #990000;
    color: $color-text-inverse;
    font-weight: bold;

    &:hover {
        background-color: #b70000;
    }

    &:active {
        background-color: #880000;
    }

    &:focus {
        border-color: $color-link-focus;
    }
}

/**
 * Additional styling for delete (destroy) buttons.
 *
 * Example HTML:
 *
 * <button class="destroy" type="submit">
 *     <span class="ui-icon ui-icon-close">Destroy</span>
 * </button>
 */

button.destroy {
    height: auto;
    padding: 0.08333333em 0 0; // 1px / 12px
    border: 0;
    background: none;

    &:hover,
    &:active {
        background: none;
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }

    &:hover .ui-icon,
    &:active .ui-icon,
    &:focus .ui-icon {
        filter: brightness(2) sepia(1) hue-rotate(-62deg) saturate(750%) brightness(80%);
    }
}

/**
 * Grey-out disabled navlinks (but keep them in button style).
 *
 * Example HTML:
 *
 * <p class="prev-next">
 *     <span class="navlink-disabled">Previous</span>
 *     <a class="navlink">Next</a>
 * </p>
 */

.navlink-disabled {
    display: inline-block;
    height: 2.333333333333333em; // 28px / 12px
    padding: 0.25em 0.75em; // 3px/ 12px + 9px / 12px
    border: 1px solid;
    background-clip: padding-box;
    box-sizing: border-box;
}

/**
 * Tertiary button sets.
 *
 * Anchor elements kept to one line to prevent space between buttons.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 */

ul.nav-tertiary {
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }
}

[dir="rtl"] ul.nav-tertiary {
    padding: 0;
}

.navlink-active,
.filtered button.ui-corner-right {
    background-color: $color-highlight-box;

    &:hover {
        background-color: lighten($color-highlight-box, 5%);
    }

    &:active {
        background-color: darken($color-highlight-box, 8%);
    }
}

/**
 * Search widget 'search' button.
 *
 * 1. Correct specificity for RTL languages.
 *
 * Example HTML:
 *
 * <form class="txp-search">
 *     <input class="txp-search-input" type="search" size="24">
 *     <span class="txp-search-buttons">
 *         <button class="txp-search-button">Search</button>
 *         <button class="txp-search-options">Search criteria</button>
 *     </span>
 * </form>
 */

.txp-search button.txp-search-button {
    padding-right: 1.5em;
    padding-left: 1.5em;
}
