/* Footer
   ========================================================================== */

/**
 * Footer content area.
 *
 * Example HTML:
 *
 * TODO
 */

.txp-footer {
    min-width: 80em; // TODO: check this?
    margin: 1em 0; // TODO: check this?
    text-align: center;
}
