@use "../setup/settings";

/* Footer
   ========================================================================== */

/**
 * Footer content area.
 *
 * Example HTML:
 *
 * <footer class="txp-footer">
 *     Content
 * </footer>
 */

.txp-footer {
    box-sizing: border-box;
    min-width: settings.$container-min-width;
    margin: 1em 0;
    padding: 0 2.5%;
    text-align: center;
}
