@use "../setup";

/* Forms - input type file
   ========================================================================== */

[type="file"] {
    box-sizing: border-box;
    height: auto;
    min-height: 2.3076923em; // 30px / 13px
    padding: 0.3076923em; // 4px / 13px
    border: 1px solid var(--clr-brdr);
    border-radius: 0;
    background: var(--clr-bkgd-form);
    appearance: none;
    cursor: pointer;

    &:focus {
        border-color: var(--clr-focus);
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
    }
}

::-webkit-file-upload-button {
    padding: 0 0.25em;
    border: 0;
    background: var(--clr-bkgd-form);
    color: var(--clr-text-btn);
    font: inherit;

    /* autoprefixer: off */
    appearance: none;
    cursor: pointer;
}

[type="file"]:hover::-webkit-file-upload-button {
    filter: brightness(1.05);
}

[type="file"]:active::-webkit-file-upload-button {
    filter: brightness(0.95);
}
