@use "../setup";

/* Forms - input type checkbox/radio
   ========================================================================== */

/**
 * 1. Remove any excess padding.
 * 2. Correct margins for inline checkbox/radio labels.
 */

[type="checkbox"],
[type="radio"] {
    /* 1 */
    padding: 0;

    + label:not(.ui-controlgroup-item) {
        /* 2 */
        margin: 0;
        margin-inline-end: 0.5em;

        &:last-of-type {
            /* 2 */
            margin-inline-end: 0;
        }
    }
}
