/* Singularity Grid System
   ========================================================================== */

@include add-grid(12);
@include add-gutter(0.3);

/**
 * Generate sizes all for grid column cells.
 *
 * Because this is desktop-only, all cells span variations are defined.
 * This design is non-responsive.
 *
 * Example HTML:
 *
 * <div class="txp-layout-1col"></div>
 *
 * <div class="txp-layout-2col-cell-1">
 * <div class="txp-layout-2col-cell-2">
 *
 * <div class="txp-layout-4col-cell-1-2-3"></div>
 * <div class="txp-layout-4col-cell-4alt"></div>
 */

.txp-layout-1col {
    @include grid-span(12, 1);

    clear: both;
}

.txp-layout-2col-cell-1 {
    @include grid-span(6, 1);

    clear: both;
}

.txp-layout-2col-cell-2 {
    @include grid-span(6, 7);
}

.txp-layout-4col-cell-1 {
    @include grid-span(3, 1);

    clear: both;
}

.txp-layout-4col-cell-1alt {
    @include grid-span(3, 1);

    clear: both;
}

.txp-layout-4col-cell-2 {
    @include grid-span(3, 4);
}

.txp-layout-4col-cell-3 {
    @include grid-span(3, 7);
}

.txp-layout-4col-cell-4 {
    @include grid-span(3, 10);
}

.txp-layout-4col-cell-4alt {
    @include grid-span(3, 10);
}

.txp-layout-4col-cell-1-2 {
    @include grid-span(6, 1);

    clear: both;
}

.txp-layout-4col-cell-2-3 {
    @include grid-span(6, 4);
}

.txp-layout-4col-cell-3-4 {
    @include grid-span(6, 7);
}

.txp-layout-4col-cell-1-2-3 {
    @include grid-span(9, 1);

    clear: both;
}

.txp-layout-4col-cell-2-3-4 {
    @include grid-span(9, 4);
}

/**
 * Text columns (fixed proportion cell)
 *
 * Example HTML:
 *
 * <div class="txp-layout-textbox">
 */

.txp-layout-textbox {
    clear: both;
    margin: 0 auto;
    max-width: $text-column;
}

/**
 * Text columns (fixed proportion cell) - OLD.
 *
 * @deprecated in 4.6.0
 * @see        .txp-layout-textbox
 */

.text-column {
    clear: both;
    margin: 0 auto;
    max-width: $text-column;
}


/* Inline grids
   ========================================================================== */

/**
 * Rudimentary inline grid type layouts.
 *
 * As this layout uses `inline-block`, you will need to collapse the white
 * space between each `.txp-grid-cell` to negate any unwanted margin between the
 * cells. Once CSS3 flexbox module is more settled and has improved browser
 * support, this layout type can be made more robust.
 *
 * Example HTML:
 *
 * <div class="txp-grid">
 *     <div class="txp-grid-cell" style="width:10em;">
 *         Content
 *     </div><div class="txp-grid-cell" style="width:10em;">
 *         Content
 *     </div><div class="txp-grid-cell" style="width:10em;">
 *         Content
 *     </div>
 * </div>
 */

.txp-grid {
    text-align: center;
    margin-bottom: 0.5em; // 6px / 12px
}

.txp-grid-cell {
    @include box-sizing(border-box);

    display: inline-block;
    margin: 0 0.1666667em 0.3333333em; // 2px / 12px and 4px / 12px
    border: 1px solid $color-border;
    padding: 0 1em;
    max-width: 26em; // 312px / 12px
    text-align: left;
    vertical-align: top;
}

/**
 * Align grid cells to right in RTL languages.
 */

[dir="rtl"] .txp-grid-cell {
    text-align: right;
}
