/* Header
   ========================================================================== */

/**
 * Header content area.
 *
 * Example HTML:
 *
 * TODO
 */

.txp-header {
    min-width: 80em; // TODO: check this?
    margin-bottom: 1.5em;
}

.txp-masthead {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    padding: 0 2.5%;
    border-bottom: 1px solid #f8c225;
    background-color: #ffda44;
}

.txp-branding {
    @include hide-text;

    width: 6.75em; // 108px
    height: 1.5em; // 24px
    margin: 0;
    background: url("../img/sprite.svg") no-repeat 0 0;
    background-size: 11.25em 1.5em; // 180px 24px
    font-size: 16px;
    line-height: 1.5; // 24px
}
