/* Header
   ========================================================================== */

/**
 * Header content area.
 *
 * Example HTML:
 *
 * <header class="txp-header">
 *     <div class="txp-masthead">
 *         <h1 class="txp-branding">Textpattern</h1>
 *         <h2 class="txp-accessibility">My site</h2>
 *         <form class="navpop" method="get" action="index.php">
 *             <select name="event" data-submit-on="change"></select>
 *         </form>
 *     </div>
 *     <nav role="navigation" aria-label="Navigation"></nav>
 *     <div id="messagepane"></div>
 * </header>
 */

.txp-header {
    min-width: $container-min-width;
    margin-bottom: 1.5em;
}

.txp-masthead {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    padding: 0 2.5%;
    border-bottom: 1px solid #f8c225;
    background-color: $color-accent;
}

.txp-branding {
    @include hide-text;

    width: 6.75em; // 108px
    height: 1.5em; // 24px
    margin: 0.25em 0;
    background: url("../img/textpattern.svg") no-repeat 0 0;
    background-size: 6.75em 1.5em; // 108px 24px
    font-size: 16px;
}

.navpop {
    margin: 0.1666667em 0; // 2px / 12px
}
