/* Setup and login panels - additional layout
   ========================================================================== */

/**
 * Column width and margins of setup panels.
 */

.txp-setup {
    max-width: $setup-column;
    margin: 1em auto;

    // Column width of 'welcome' setup panel.
    .welcome & {
        max-width: 26em; // 312px / 12px
    }
}

/**
 * Column width and margins of login panels.
 */

.txp-login {
    max-width: 26em; // 312px / 12px
    margin: 1em auto;
}

/**
 * Welcome page `select` spans entire column width.
 */

.welcome select {
    width: 100%;
}


/* Content -> Categories panel - additional layout
   ========================================================================== */

/**
 * Extra margin below multi-edit widgets on categories page.
 */

#page-category .multi-edit {
    margin-bottom: 1em;
}


/* Content -> Write panel - additional layout
   ========================================================================== */

/**
 * View mode tabs on write area.
 *
 * Example HTML:
 *
 * <div id="view_modes">
 *     <ul>
 *         <li id="tab-text" class="active"><a>Text</a></li>
 *         <li id="tab-html"><a>HTML</a></li>
 *         <li id="tab-preview"><a>Preview</a></li>
 *     </ul>
 * </div>
 */

#view_modes ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $color-border;
    font-size: $small-font-size;
    line-height: $small-line-height;

    li {
        display: inline-block;
    }

    a {
        display: block;
        position: relative;
        bottom: -1px;
        padding: 0.25em 1em;
        border: 1px solid lighten($color-border, 6%);
        border-top-left-radius: 0.75em 2em;
        border-top-right-radius: 0.75em 2em;
        border-bottom-color: $color-border;
        background-color: $color-highlight-box;
        color: $color-text;
        text-decoration: none;
        box-shadow: inset 0 -0.2em 0.4em rgba(219, 203, 141, 0.5), 0 -0.1em 0.1em rgba(0, 0, 0, 0.1);

        &:hover {
            border-color: darken($color-border, 13.5%);
            background-color: lighten($color-highlight-box, 5%);
        }

        &:focus {
            border-color: $color-link-focus;
            outline: 0;
        }
    }

    .active a {
        border-bottom-color: $color-background;
        background-color: lighten($color-background-box, 3%);
        box-shadow: 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);

        &:focus {
            border-color: $color-link-focus;
        }
    }
}

/**
 * Write page excerpt field when in HTML preview.
 */

.html .excerpt {
    margin-bottom: 1em;
}

/**
 * Custom font size/weight/colour for elements in write -> main content area.
 */

#main_content {
    .text {
        input {
            font-size: 16px;
        }

        textarea {
            font-size: 16px;
            line-height: 1.5em; // 24px / 16px
        }

        .title input {
            font-weight: bold;
        }

        .body textarea {
            height: 48vh;
        }

        .excerpt textarea {
            height: 12vh;
        }
    }

    .author small {
        display: block;
        margin-top: -1em;
        color: $color-text-footnote;
    }
}


/* Content -> Articles panel - additional layout
   ========================================================================== */

/**
 * Grey-out text for unpublished articles/non-modified dates in the list.
 */

.unpublished,
.not-modified {
    color: $color-text-footnote;
}


/* Content -> Images panel - additional layout
   ========================================================================== */

.has-thumbnail a:focus {
    outline: 0;
}

.thumbnail-alter input {
    margin: 0 0.3333333em 0 0;

    &:last-child {
        margin: 0;
    }
}

.ui-button.thumbnail-swap-size {
    margin: 0 0.3333333em 0 0;
}

[dir="rtl"] .thumbnail-alter input {
    margin: 0 0 0 0.3333333em;

    &:last-child {
        margin: 0;
    }
}

[dir="rtl"] .ui-button.thumbnail-swap-size {
    margin: 0 0 0 0.3333333em;
}

.thumbnail-image form {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}


/* Content -> Files panel - additional layout
   ========================================================================== */

/**
 * Make sure form for selecting existing files is on a new line.
 */

.txp-control-panel .assign-existing-form {
    display: block;
    margin-top: 1em;
}


/* Content -> Comments panel - additional layout
   ========================================================================== */

/**
 * Red background highlight for spam comment rows in the list.
 */

#page-discuss .txp-list tr.spam {
    background: lighten($color-error-background, 2%);
}

/**
 * Yellow background highlight for unmoderated comment rows in the list.
 */

#page-discuss .txp-list tr.moderate {
    background: lighten($color-warning-background, 2%);
}


/* Presentation -> all panels - additional layout
   ========================================================================== */

.presentation textarea.code {
    height: 64vh;
}


/* Presentation -> Forms panel - additional layout
   ========================================================================== */

#page-form .name {
    display: inline-block;
    margin: 1em 1em 0 0;

    input {
        width: 15em; // 180px / 12px
    }
}

[dir="rtl"] #page-form .name {
    margin: 1em 0 0 1em;
}

#page-form .type {
    display: inline-block;
    margin: 1em 0 0;
}

#page-form .txp-layout-4col-3span .txp-actions a {
    margin-top: 1.5em;
}


/* Admin -> Languages panel - additional layout
   ========================================================================== */

.txp-grid-cell-lang {
    min-width: 20.75em; // 249px / 12px
}



/* Admin -> Plugins panel - additional layout
   ========================================================================== */

tr {
    .manage span,
    .plugin-prefs {
        visibility: hidden;
    }
}

tr.active {
    .manage span,
    .plugin-prefs {
        visibility: visible;
    }
}

div.code {
    height: 24em;
    margin-bottom: 1em;
    padding: 0.25em; // 3px / 12px
    border: 1px solid $color-border;
    overflow: auto;
    box-sizing: border-box;
}
