/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 5. Hide `.busy` class links when processing AJAX.
 */

a {
    /* 1 */
    color: $color-link;
    /* 2 */
    text-decoration: none;
    /* 3 */
    text-decoration-skip: ink;

    &:hover,
    &:active {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }

    &.busy {
        /* 4 */
        visibility: hidden;
    }
}

/**
 * Additional styling for popup help links.
 *
 * Example HTML:
 *
 * <a class="pophelp">i</a>
 */

.pophelp,
.pophelpsubtle {
    display: inline-block;
    width: 1.1666667em; // 14px / 12px
    border: 1px solid;
    border-radius: 50%;
    border-color: #dddddd #bbbbbb #bbbbbb #dddddd;
    font-family: "Cambria Math", "Apple Symbols";
    font-weight: normal;
    line-height: 1.1666667em; // 14px / 12px
    text-align: center;

    &:focus {
        border-color: $color-link-focus;
        outline: 2px solid transparent;
    }
}

/**
 * Additional styling for popup help links in table headers.
 */

.txp-list thead th a.pophelp {
    display: inline-block;
    color: $color-link;

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        border-color: $color-link-focus;
    }
}

/**
 * Reduce risk of render glitches in links on RTL languages.
 */

[dir="rtl"] a {
    unicode-bidi: embed;
}
