@use "sass:color"; // TEMP
@use "../setup";

// import colourscheme TEMP
@use "../setup/colours";

/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding: 0 0 0 2.3333333em;
}

/**
 * Swap padding positions in RTL languages.
 */

[dir="rtl"] {
    menu,
    ol,
    ul {
        padding: 0 2.3333333em 0 0;
    }
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * Address margins set differently.
 */

dd {
    margin: 0 0 0 2.3333333em;
}

/**
 * Swap margin positions in RTL languages.
 */

[dir="rtl"] dd {
    margin: 0 2.3333333em 0 0;
}

/**
 * Have a list with no bullets/numerals.
 *
 * Example HTML:
 *
 * <ul class="plain-list">
 * <ol class="plain-list">
 */

.plain-list {
    padding: 0;
    list-style: none;
}

/**
 * Ensure padding stays removed in RTL languages.
 *
 * Required for specificity.
 */

[dir="rtl"] .plain-list {
    padding: 0;
}

/**
 * Switcher lists, to swap between diffrent page templates/form templates/etc.
 *
 * Example HTML:
 *
 * <ul class="switcher-list">
 *     <li class="active"></li>
 *     <li><a></a></li>
 *     <li><a></a></li>
 * </ul>
 */

.switcher-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        border-top: 1px solid colours.$color-border;
        border-bottom: 1px solid transparent;

        &:last-child {
            border-bottom-color: colours.$color-border;
        }

        &.active {
            background: colours.$color-highlight-box;
        }

        &.selected {
            background: colours.$color-selected;
        }
    }

    a {
        display: block;
        padding: 0.3333333em 2em 0.3333333em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

[dir="rtl"] .switcher-list {
    padding: 0;

    a {
        padding: 0.3333333em 0 0.3333333em 2em;
    }
}

/**
 * Multi-edit checkboxes within switcher lists.
 */

.switcher-action {
    position: absolute;
    z-index: 2;
    top: 0.3333333em; // 4px / 12px
    left: 0;

    + a {
        padding-right: 0;
        padding-left: 2em;
    }
}

[dir="rtl"] .switcher-action {
    right: 0;
    left: auto;

    + a {
        padding-right: 2em;
        padding-left: 0;
    }
}

/**
 * 'Destroy' buttons within switcher lists.
 */

.switcher-list .destroy {
    position: absolute;
    z-index: 2;
    top: 0.3333333em; // 4px / 12px
    right: 0;
}

[dir="rtl"] .switcher-list .destroy {
    right: auto;
    left: 0;
}
