@use "sass:color";
@use "../setup/colours";

/* Navigation
   ========================================================================== */

/**
 * Navigation menu displayed as primary and secondary tabs.
 *
 * Example HTML:
 *
 * <nav role="navigation" aria-label="Navigation">
 *     <div class="nav-tabs" id="nav-primary">
 *         <ul>
 *             <li class="active"><a>Content</a></li>
 *             <li><a>Presentation</a></li>
 *             <li><a>Admin</a></li>
 *             <li class="txp-view-site"><a>View site</a></li>
 *         </ul>
 *     </div>
 *     <div class="nav-tabs" id="nav-secondary">
 *         <ul>
 *             <li><a>Write</a></li>
 *             <li class="active"><a>Articles</a></li>
 *             <li><a>Images</a></li>
 *             <li><a>Files</a></li>
 *             <li><a>Links</a></li>
 *             <li><a>Categories</a></li>
 *             <li><a>Comments</a></li>
 *         </ul>
 *     </div>
 * </nav>
 */

.nav-tabs {
    text-align: center;

    ul {
        margin: 0.5em 0 0;
        padding: 0;
        border-bottom: 1px solid colours.$color-border;
        box-shadow: inset 0 -0.2em 0.4em rgba(0, 0, 0, 0.15);
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        position: relative;
        bottom: -1px;
        padding: 0.1666667em 1.5em; // 2px / 12px + 18px / 12px
        border: 1px solid color.adjust(colours.$color-border, $lightness: 6%);
        border-bottom-color: colours.$color-border;
        border-top-left-radius: 0.75em 2em;
        border-top-right-radius: 0.75em 2em;
        background-color: colours.$color-highlight-box;
        box-shadow: inset 0 -0.2em 0.4em rgba(219, 203, 141, 0.5), 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
        color: colours.$color-text;
        text-decoration: none;

        &:hover {
            border-color: color.adjust(colours.$color-border, $lightness: -13.5%);
            background-color: color.adjust(colours.$color-highlight-box, $lightness: 5%);
        }

        &:focus {
            border-color: colours.$color-link-focus;
            outline: 0;
        }
    }

    .active a {
        border-bottom-color: colours.$color-background;
        background-color: colours.$color-background;
        box-shadow: 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);

        &:focus {
            border-color: colours.$color-link-focus;
        }
    }
}
