@use "../setup";

/* Progress indicators
   ========================================================================== */

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Reverse the progress direction in RTL languages.
 */

[dir="rtl"] progress {
    animation-direction: reverse;
}

/**
 * Styled progress indicators.
 *
 * Example HTML:
 *
 * <progress class="txp-upload-progress"></progress>
 */

.txp-upload-progress {
    box-sizing: border-box;
    width: 100%;
    max-width: 30em; // 390px / 13px
    height: 8px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background-box);
    appearance: none;
}

// WebKit/Blink.

.txp-upload-progress::-webkit-progress-bar {
    background-color: var(--color-background);
}

.txp-upload-progress::-webkit-progress-value {
    background-color: var(--color-success-text);
}

.txp-upload-progress:indeterminate::-webkit-progress-bar {
    background-color: var(--color-border);
}

// Gecko/Quantum.

.txp-upload-progress::-moz-progress-bar {
    background-color: var(--color-success-text);
}

.txp-upload-progress:indeterminate::-moz-progress-bar {
    background-color: var(--color-border);
}
