@use "../setup";

/* Tables
   ========================================================================== */

/**
 * 1. Make sure list tables clear any preceding grid cell floats.
 * 2. Allow overflow scroll on tables.
 *
 * Example HTML:
 *
 * <div class="txp-listtables">
 *     <table></table>
 * </div>
 */

.txp-listtables {
    clear: both; /* 1 */
    overflow-x: auto; /* 2 */

    &:focus {
        outline: thin solid var(--clr-focus);
    }
}

/**
 * Consistent tables.
 */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * Styling of table captions.
 */

caption {
    margin-bottom: 0.5em;
    text-align: start;
}

/**
 * Table row borders.
 */

tbody {
    border-top: 1px solid var(--clr-brdr);

    th {
        border-bottom: 1px solid var(--clr-brdr);
    }

    td {
        border-bottom: 1px solid var(--clr-brdr);
    }
}

/**
 * Make table cells align centred and left by default.
 */

th,
td {
    padding: 0.38461538461538em 1em; // 5px / 13px + 13px
    padding-inline-start: 0;
    vertical-align: middle;
    text-align: start;
}

td:last-child {
    padding: 0.38461538461538em 0;
}

/**
 * Align header cell content at bottom of cell.
 */

thead {
    th,
    td {
        vertical-align: bottom;
    }
}

/**
 * Listing tables.
 *
 * Example HTML:
 *
 * <table class="txp-list">
 *     <thead>
 *         <tr>
 *             <th class="multi-edit" scope="col"></th>
 *             <th class="asc scope="col"><a></a></th>
 *             <th scope="col"><a></a></th>
 *         </tr>
 *     </thead>
 *     <tfoot>
 *         <tr>
 *             <td colspan="3"></td>
 *         </tr>
 *     </tfoot>
 *     <tbody>
 *         <tr>
 *             <th class="multi-edit" scope="row"></th>
 *             <td></td>
 *             <td></td>
 *         </tr>
 *         <tr class="selected">
 *             <th class="multi-edit" scope="row"></th>
 *             <td></td>
 *             <td></td>
 *         </tr>
 *     </tbody>
 * </table>
 */

.txp-list,
.txp-list--no-options {
    width: 100%;

    tbody {
        tr.selected {
            background: var(--clr-selected);
        }

        th {
            font-weight: 400;
        }
    }
}

/**
 * Backgrounds and indicator icons on currently active sortable `thead th`.
 *
 * Example HTML:
 *
 * <th class="asc scope="col"><a></a></th>
 * <th class="desc scope="col"><a></a></th>
 */

.txp-list,
.txp-list--no-options {
    thead th {
        a {
            margin-inline-end: 14px;
        }

        &.asc a,
        &.desc a {
            margin-inline-end: 0;
            padding-inline-end: 14px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 48'%3E%3Cpath fill='%23fabc2b' d='M4.5 0L0 5h2v4h5V5h2M4.5 48L9 43H7v-4H2v4H0'/%3E%3C/svg%3E") no-repeat;
            background-size: 9px 48px;
        }

        &.asc a {
            background-position: right 2px;

            [dir="rtl"] & {
                background-position: left 2px;
            }
        }

        &.desc a {
            background-position: right -36px;

            [dir="rtl"] & {
                background-position: left -36px;
            }
        }
    }
}

/**
 * Consistent width for table multi-edit checkbox columns.
 */

.txp-list-col-multi-edit {
    width: 13px;
}

/**
 * Avoid wrapping of content in table '#ID' columns.
 */

.txp-list-col-id {
    white-space: nowrap;
}
