@use "setup";
@forward "modules";

/* CSS variables
   ========================================================================== */

/* stylelint-disable declaration-colon-space-after */

:root {
    // font families
    --font-heading: Cambria, Georgia, serif;
    --font-body:    "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
    --font-form:    Helvetica, Arial, sans-serif !default;
    --font-code:    Monaco, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
    // shadows
    --standard-shadow: 0 0 0.5em rgba(#000000, 0.2) !default;
}
