@use "setup";
@forward "modules";

/* CSS variables
   ========================================================================== */

/* stylelint-disable declaration-colon-space-after */

:root {
    // font families
    --font-heading: Cambria, Georgia, serif;
    --font-body:    "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
    --font-form:    Helvetica, Arial, sans-serif !default;
    --font-code:    Monaco, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
    // shadows
    --standard-shadow: 0 0 0.5em rgba(#000000, 0.2) !default;
    // text colours
    --color-text:                          hsl(0, 0%, 20%);
    --color-text-footnote:                 hsl(0, 0%, 35%);
    --color-text-inversed:                 hsl(0, 0%, 100%);
    --color-text-form:                     hsl(0, 0%, 0%);
    --color-text-form-placeholder:         hsl(0, 0%, 60%);
    --color-text-button:                   hsl(0, 0%, 0%);
    --color-text-button-hover:             hsl(0, 0%, 0%);
    --color-text-button-active:            hsl(0, 0%, 0%);
    // neutral colours
    --color-background:                    hsl(0, 0%, 100%);
    --color-background-box:                hsl(0, 0%, 97%);
    --color-background-form:               hsl(0, 0%, 97%);
    --color-background-form-disabled:      hsl(0, 0%, 89%);
    // accent colours
    --color-accent:                        hsl(48, 100%, 63%);
    --color-highlight-box:                 hsl(48, 100%, 93%);
    --color-strong-highlight-box:          hsl(48, 100%, 84%);
    // border colours
    --color-border:                        hsl(0, 0%, 80%);
    --color-border-light:                  hsl(0, 0%, 83%);
    // interaction colours
    --color-link:                          hsl(30, 50%, 40%);
    --color-link-hover:                    hsl(30, 59%, 44%);
    --color-link-focus:                    hsl(209, 62%, 60%);
    --color-selecting:                     hsl(216, 100%, 90%);
    --color-selected:                      hsl(216, 100%, 95%);
    // button colours
    --color-button-background:             TBC;
    --color-button-border:                 #dddddd #c7c7c7 #c7c7c7 #dddddd;
    // alert colours
    --color-success-text:                  hsl(120, 60%, 34%);
    --color-success-background:            hsl(120, 40%, 90%);
    --color-success-border:                hsl(102, 40%, 68%);
    --color-warning-text:                  hsl(41, 100%, 40%);
    --color-warning-background:            hsl(41, 64%, 91%);
    --color-warning-border:                hsl(41, 64%, 71%);
    --color-error-text:                    hsl(4, 69%, 36%);
    --color-error-background:              hsl(4, 43%, 91%);
    --color-error-border:                  hsl(4, 43%, 78%);
    --color-info-text:                     hsl(200, 50%, 45%);
    --color-info-background:               hsl(200, 78%, 95%);
    --color-info-border:                   hsl(200, 78%, 82%);
}
