@use "setup";

/* ==========================================================================
   ONLY for use in design patterns - classes NOT USED in actual theme distro.
   ========================================================================== */

body {
    min-width: 86em;
    margin: 0;
    padding: 0 2em 1em;
}

.design-patterns--section {
    padding-top: 0.25em;
}

.design-patterns--menu {
    position: fixed;
    z-index: 2000;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 27%;
    min-width: 23em;
    margin: 0 auto;
    padding: 2em;
    overflow: hidden auto;
    border-right: 1px solid var(--clr-brdr);
    background-color: var(--clr-bkgd-box);
    box-shadow: inset -0.25em 0 0.25em -0.25em hsl(0 0% 0% / 0.2);

    // Enforce LTR behaviour in nav list.

    ol {
        padding: 0 0 0 2em;
    }
}

.design-patterns--content {
    margin-left: 28%;
}

.design-patterns--content-container {
    max-width: 80em;
    margin: 0 auto;
}

.design-patterns--heading {
    padding-top: 1em;
}

/**
 * Make sure code examples use black text within information blocks.
 */

.information code {
    color: var(--clr-text);
}

/**
 * ScrollSpy indicators.
 */

.is-inview {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: 2001;
        left: -2.3333333em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 0.25em;
        background: hsl(209 62% 60% / 0.25);
    }
}

/* Colour palette.
   ========================================================================== */

/**
 * Generate the colour swatches dynamically.
 *
 * More info: http://www.guyroutledge.co.uk/blog/style-guide-colours-with-sass/
 */
$colors: (
    "text": var(--clr-text),
    "text-demoted": var(--clr-text-demoted),
    "text-form": var(--clr-text-form),
    "brdr": var(--clr-brdr),
    "brdr-lite": var(--clr-brdr-lite),
    "brdr-dark": var(--clr-brdr-dark),
    "bkgd": var(--clr-bkgd),
    "bkgd-box": var(--clr-bkgd-box),
    "bkgd-form": var(--clr-bkgd-form),
    "a": var(--clr-a),
    "a-interact": var(--clr-a-interact),
    "focus": var(--clr-focus),
    "selecting": var(--clr-selecting),
    "selected": var(--clr-selected),
    "hilite-box": var(--clr-hilite-box),
    "strong-hilite-box": var(--clr-strong-hilite-box),
    "accent": var(--clr-accent),
    "accent-dark": var(--clr-accent-dark),
    "success-text": var(--clr-success-text),
    "success-bkgd": var(--clr-success-bkgd),
    "warning-text": var(--clr-warning-text),
    "warning-bkgd": var(--clr-warning-bkgd),
    "error-text": var(--clr-error-text),
    "error-bkgd": var(--clr-error-bkgd),
    "info-text": var(--clr-info-text),
    "info-bkgd": var(--clr-info-bkgd),
);

.design-patterns--clr {
    display: block;
    position: relative;
    height: 3em; // 39px / 13px
    margin: 1em 0;
    border: 1px solid var(--clr-brdr);
}

@each $name, $color in $colors {
    .design-patterns--clr-#{$name} {
        background: $color;
    }
}

/* Layout grid examples.
   ========================================================================== */

.design-patterns--box {
    margin-top: 0;
    padding: 1em;
    background: hsl(0 0% 0% / 0.33);
}

/* jQuery UI styling specific to design patterns.
   ========================================================================== */

/**
 * The list of all available icons.
 */

.jquery-ui-icons li {
    position: relative;
    margin: 2px;
    padding: 4px 0;
    float: left;
    list-style: none;
    cursor: pointer;
}

[dir="rtl"] .jquery-ui-icons li {
    float: right;
}

.jquery-ui-icons .ui-icon {
    margin: 0 4px;
    float: left;
}

[dir="rtl"] .jquery-ui-icons .ui-icon {
    float: right;
}

/**
 * The vertical slider example.
 */

.jquery-ui-slider-vertical span {
    height: 120px;
    margin: 15px;
    float: left;
}

[dir="rtl"] .jquery-ui-slider-vertical span {
    float: right;
}

/**
 * Declare a width for jQuery UI menus.
 */

.ui-menu {
    width: 150px;
}

/**
 * Absolute positioning for miscellaneous jQuery UI menus.
 */

.ui-menu:not(.jquery-ui-menu) {
    position: absolute;
    z-index: 1000;
}

/**
 * Additional information tags on design patterns doc headings.
 *
 * Example HTML:
 *
 * <h2>Title <span>new v4.7</span></h2>
 */

.design-patterns--section h1 span,
h2 span {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 400;
}
