/* Miscellaneous/shared layout
   ========================================================================== */

.txp-control-panel {
    text-align: center;
}

.txp-actions a {
    margin-left: 0.75em;
}

div.multi-edit {
    margin: 1em 0;
}

.multi-option {
    display: none;
}

.multi-step {
    display: inline-block;
    margin-left: 0.4em;
}

/* TO BE REMOVED */
.txp-columntable {
    width: 100%;
}

.prev-next,
.pageby {
    text-align: center;
}

.restricted-area {
    margin: 3em auto auto;
    text-align: center;
}

.empty {
    display: none;
}

.disabled {
    opacity: 0.33;
}

/* AJAX spinner */
span.spinner {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("img/spinner.gif");
}

@media print,
    (-webkit-min-device-pixel-ratio: 2),
    (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    span.spinner {
        background-image: url("img/spinner@2x.gif") !important;
        background-size: 13px 13px;
    }
}


/* Edit and login panes
   ========================================================================== */

.txp-edit,
.txp-tagbuilder,
.txp-login {
    margin: 0 auto 1em;
    border: 1px solid #e5e5e5;
    padding: 1em 1em 1px 1em;
}

.txp-edit {
    width: 56em;
}

.txp-tagbuilder {
    width: 28em;
}

.txp-login {
    width: 34em;
}

.txp-label,
.txp-value {
    display: inline-block;
    float: left;
    width: 50%;
}

[dir="rtl"] .txp-label,
[dir="rtl"] .txp-value {
    float: right;
}

.txp-login .txp-label {
    width: 31%;
}

.txp-login .txp-value {
    width: 69%;
}

.txp-value input,
.txp-value select {
    margin-top: -0.25em;
    margin-bottom: -0.25em;
}

.txp-value-fixed {
    display: inline-block;
    padding: 0.25em 0;
}


/* Tag builder page
   ========================================================================== */

#tag-event {
    margin: 0;
    padding: 1em 1em 1px;
}


/* Content -> Categories page
   ========================================================================== */

.category-tree p {
    margin: 0;
    border-bottom: 1px solid #dddddd;
    padding: 0.3em 0;
}

.category-tree p:first-child {
    border-top: 1px solid #dddddd;
}


/* Content -> Write page
   ========================================================================== */

#view_modes ul {
    list-style: none;
    padding: 0;
}

#view_modes li {
    display: inline-block;
    margin: 0 0.75em 0 0;
    border: 1px solid #cccccc;
    width: 24px;
    height: 24px;
}

[dir="rtl"] #view_modes li {
    margin: 0 0 0 0.75em;
}

#view_modes a {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 24px;
    height: 24px;
    background: #fff8dd no-repeat 50% 50%;
    background-size: 24px 24px;
}

#view_modes a:hover,
#view_modes li.active a {
    background-color: #ffffff;
}

#tab-text a {
    background-image: url("img/view-text.svg");
}

#tab-html a {
    background-image: url("img/view-html.svg");
}

#tab-preview a {
    background-image: url("img/view-preview.svg");
}

.view-mode:hover,
#tab-textup,
#tab-htmlup,
#tab-previewup {
    background-color: #ffffff;
}

#main_content #title {
  width: 66%;
}


/* Content -> Articles page
   ========================================================================== */

/**
 * Grey-out text for unpublished articles/non-modified dates in the list.
 */

.unpublished,
.not-modified {
    color: #888888;
}


/* Content -> Images page
   ========================================================================== */

.fullsize-image {
    text-align: center;
    margin-bottom: 1em;
}

.fullsize-image img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.thumbnail-edit {
    overflow-x: auto;
    margin-bottom: 1em;
}

.thumbnail-edit form {
    vertical-align: top;
    display: inline-block;
}


/* Content -> Comments page
   ========================================================================== */

tr.spam {
    background: #fff4f4;
}

tr.moderate {
    background: #fff8dd;
}


/* Admin -> Languages page
   ========================================================================== */

#language_control {
    text-align: left;
}

[dir="rtl"] #language_control {
    text-align: right;
}

#page-lang .modified {
    font-style: italic;
}

#textpack-install {
    width: 34em;
}


/* Admin -> Plugins page
   ========================================================================== */

tr .manage span,
tr .plugin-prefs {
    visibility: hidden;
}

tr.active .manage span,
tr.active .plugin-prefs {
    visibility: visible;
}

#plugin-install {
    width: 34em;
}

#plugin_preview {
    margin: 0 auto;
    max-width: 65%;
}

div.code {
    margin-bottom: 1em;
    padding: 0.25em;
    height: 24em;
    overflow: auto;
    background-color: #f5f5f5;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.plugin-column {
    margin: 0 auto;
    max-width: 58em;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.plugin-column p:after {
    content: "";
    display: table;
    clear: both;
}
